html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::selection {
  background: #6366f1;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #070910;
}

::-webkit-scrollbar-thumb {
  background: #252b3b;
  border-radius: 10px;
}